.contenedor {
  background-image: url(https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-25_bc15ec98.jpeg?download=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto;
}

p {
  overflow-wrap: break-word;
}

.agrandar:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.texto {
  font-weight: bold;
  color: white;
}

.contenedor-img {
  height: 150px;
  width: 100%;
}

.datos-fisicos {
  height: 350px;
}

.datos-generales {
  height: 200px;
}

.contenedor_pelicula {
  height: 500px;
}

@media (max-width: 768px) {
  .datos-fisicos {
    height: 200px !important;
  }
  .datos-generales {
    height: 150px !important;
  }
  .contenedor_pelicula {
    height: 250px !important;
  }
  .ocultar {
    display: none !important;
  }
  .text-loading {
    font-size: 75px !important;
  }

  .icon-loading {
    font-size: 25px !important;
  }
  .contenedor_carga {
    height: 575px;
  }
  .card {
    height: auto !important;
    width: 100% !important;
  }
}

@media (max-width: 992px) {
  .contenedor_carga {
    height: 830px;
  }
}

.contenedor_carga {
  height: 630px;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}
.scroll-izquierdo {
  direction: rtl;
}

.scroll::-webkit-scrollbar {
  scrollbar-width: thin;
  width: 20px;
  background-color: white;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: black;
  border: 2px solid white;
  border-radius: 0px;
  cursor: grab;
}

.scroll::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.scroll::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

.btn_film {
  outline: none !important;
}
.btn_film:hover {
  color: white;
  border: 2px solid white;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.text-loading {
  font-size: 150px;
}

.icon-loading {
  font-size: 50px;
}
